body {
	height: 0;
	font-family: 'Noto Sans', sans-serif;
}
hr {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #fff;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: #eee2;
}
::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: 0 0 10px #8888 inset;
}
::-webkit-scrollbar-thumb {
	border: solid 1px #0003;
	border-radius: 5px;
	background: #0003;
}

.w3-bar .w3-dropdown-content {
	position: fixed;
}

.w3-padding-top {
	padding-top: 8px!important;
}
.w3-padding-bottom {
	padding-bottom: 8px!important;
}
.w3-padding-left {
	padding-left: 16px!important;
}
.w3-padding-right {
	padding-right: 16px!important;
}
.w3-hover-border:hover {
	outline: solid 1px #ddd!important;
	outline-offset: -1px!important;
}
.w3-ellipsis {
	display: list-item;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.w3-pointer {
	cursor: pointer;
}
.w3-noevent {
	pointer-events: none;
}
.w3-noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}
.w3-text-outline {
	color: #000;
	filter: drop-shadow(-1px 0 #fff) drop-shadow(1px 0 #fff) drop-shadow(0 -1px #fff) drop-shadow(0 1px #fff);
}
.w3-img-contrast {
	image-rendering: -webkit-optimize-contrast;
}
.w3-switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}
.w3-switch:before {
	content: "";
	width: 60px;
	height: 29px;
	margin: 4px 0px -2px 0px;
	border-radius: 100px;
	display: inline-block;
	background: #ccc;
	transition: 0.2s;
}
.w3-switch:after {
	content: "";
	width: 23px;
	height: 23px;
	margin-left: -56px;
	margin-bottom: 1px;
	border-radius: 50%;
	display: inline-block;
	background: #eee;
	transition: 0.2s;
}
.w3-switch:checked:after {
	margin-left: -27px;
}
.w3-switch:checked:before {
	background: #2196f3;
}
.w3-overflow-hidden {
	overflow: hidden!important;
}
.w3-hover-zoom {
	transition: transform .1s;
}
.w3-hover-zoom:hover {
	transform: scale(1.25);
}
.w3-underline-none {
	text-decoration: none;
}
img.w3-img-empty:not([src]) {
	display: none;
}

.anim-show-modal {
	animation: modal 0.2s;
	pointer-events: none!important;
}
.anim-hide-modal {
	animation: modal 0.2s reverse forwards;
	pointer-events: none!important;
}

@keyframes modal {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

#header {
	position: fixed;
	padding: 6px 8px;
	z-index: 9;
}
#search {
	border-right: 0!important;
	border-radius: 4px 0 0 4px;
}
#btnSearch {
	border-radius: 0 4px 4px 0;
}
.userIcon {
	width: 40px;
	height: 40px;
	border: solid 2px #444;
}
#section {
	height: 0;
}
#sidebar {
	width: 240px;
	padding-top: 12px;
	z-index: 8;
}
#sidebar> * {
	padding-left: 24px;
}
#sidebar:not([style*="display: none"]) + #main {
	margin-left: 240px;
}
#main {
	transition: margin-left 0s;
}
#modals> * {
	z-index: 10;
}
.separator {
	text-align: center;
}
.separator:before {
	content: "";
	position: relative;
	top: 13px;
	width: 100%;
	height: 1px;
	display: block;
	background: #ccc;
}
.separator> * {
	position: relative;
	padding: 0 12px;
	background: #f1f1f1;
	color: #888;
}
